* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  border: 1px red solid;
  min-height: 100vh;
}

#calculator-body {
  display: flex;
  flex-direction: column;
  border: 1px red solid;
  height: 500px;
  width: 320px;
}

#calculator-buttons {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin: 0px 20px 0px;
  width: 275px;
  height: 330px;
}

#calculator-display {
  display: flex;
  background-color: lightblue;
  margin: 30px auto 20px;
  min-height: 100px;
  padding: 20px;
  justify-content: flex-end;
  align-items: flex-end;
  border-radius: 3%;
  width: 280px;
}

.btn {
  background-color: red;
  height: 50px;
  width: 60px;
  margin: 4px;
  border-radius: 5%;
}

.btn.equal {
  width: 130px;
}